<div class="border-green">
  <h2 style="text-align: center;" mat-dialog-title>{{data.receta.nombreReceta}}</h2>
  <mat-dialog-content>
    <div class="row">
      <div class="col-md-6">
        <img class="w-75 mx-auto"
             src="{{data.receta.imagen}}"
             alt="Icono representativo de Plan de Entrenamiento" />
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12"><strong>{{'receta.nombre' | transloco}}:</strong> {{data.receta.nombreReceta}}</div>
        </div>
        <div class="row">
          <div class="col-md-12"><strong>{{'receta.kilocalorias' | transloco}}:</strong> {{data.receta.kilocalorias}} </div>
        </div>
        <div class="row">
          <div class="col-md-12"><strong>{{'receta.tipo' | transloco}}:</strong> {{data.receta.tipoAlimentacion}}</div>
        </div>
        <div class="row">
          <div class="col-md-12"><strong>{{'receta.horario' | transloco}}:</strong> {{data.receta.horario}}</div>
        </div>
        <div class="row">
          <div class="col-md-12"><strong>{{'receta.descripcion' | transloco}}:</strong> {{data.receta.descripcion}}</div>
        </div>
      </div>

    </div>
    
  </mat-dialog-content>
  <mat-dialog-actions class="justify-content-end">
    <button mat-raised-button color="primary" (click)="onNoClick()"><mat-icon>cancel</mat-icon>{{'entrenamiento.cerrar' | transloco}}</button>
  </mat-dialog-actions>
</div>