<h1 class="titulo-centrado">{{'titleWorkouth1' | transloco}}</h1>
<mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="primerFormGroup">
        <div class="d-flex justify-content-center">
        <form [formGroup]="primerFormGroup">
            <ng-template matStepLabel>{{'titleWorkout' | transloco}}</ng-template>
            <div class="mb-3">
                <mat-form-field class="mr-3 margin-campos">
                    <mat-label>{{'altura' | transloco}}</mat-label>
                    <input matInput type="number" formControlName="altura">
                    <span matSuffix> cm</span>
                    <mat-error *ngIf="primerFormGroup.get('altura')?.hasError('max')">
                        {{'error.altura' | transloco}}
                    </mat-error>
                    <mat-error *ngIf="primerFormGroup.get('altura')?.hasError('required')">
                      {{'error.requerido' | transloco}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="mr-3 margin-campos">
                    <mat-label>{{'peso' | transloco}}</mat-label>
                    <input matInput type="number" formControlName="peso">
                    <span matSuffix> kg</span>
                    <mat-error *ngIf="primerFormGroup.get('peso')?.hasError('max')">
                      {{'error.peso' | transloco}}
                    </mat-error>
                    <mat-error *ngIf="primerFormGroup.get('peso')?.hasError('required')">
                      {{'error.requerido' | transloco}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="mb-3">
                <mat-form-field class="mr-3 margin-campos">
                    <mat-label>{{'usuarios.header.sexo' | transloco}}</mat-label>
                    <mat-select formControlName="sexo">
                      <mat-option *ngFor="let sexo of sexos" [value]="sexo.codigo">{{sexo.descripcion}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="mr-3 margin-campos">
                  <mat-label>{{'usuarios.header.edad' | transloco}}</mat-label>
                  <input matInput type="number" formControlName="edad">
                </mat-form-field>
            </div>
            <div class="mb-3">
              <mat-form-field class="mr-3 margin-campos">
                  <mat-label>{{'usuarios.header.nivel' | transloco}}</mat-label>
                  <mat-select formControlName="nivel">
                    <mat-option *ngFor="let nivel of niveles" [value]="nivel.codigo">{{nivel.descripcion}}</mat-option>
                  </mat-select>
              </mat-form-field>
              <mat-form-field class="mr-3 margin-campos">
                  <mat-label>{{'tiempo' | transloco}}</mat-label>
                  <mat-select formControlName="tiempo">
                    <mat-option *ngFor="let tiempo of tiempos" [value]="tiempo.codigo">{{tiempo.descripcion}}</mat-option>
                  </mat-select>
              </mat-form-field>
             </div>
            <div class="mb-6">
                <mat-form-field class="mr-6 margin-campos">
                    <mat-label>{{'usuarios.header.objetivo' | transloco}}</mat-label>
                    <mat-select formControlName="objetivo">
                      <mat-option *ngFor="let objetivo of objetivos" [value]="objetivo.codigo">{{objetivo.descripcion}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="mr-3 margin-campos">
                    <mat-label>{{'usuarios.header.grupoMuscular' | transloco}}</mat-label>
                    <mat-select formControlName="grupoMuscular">
                      <mat-option *ngFor="let grupo of grupoMuscular" [value]="grupo.codigo">{{grupo.descripcion}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="mb-6">
              <mat-form-field class="mr-6 margin-campos">
                  <mat-label>{{'fechaInicio' | transloco}}</mat-label>
                  <input required matInput [matDatepicker]="picker" formControlName="fechaInicio">
                  <mat-hint>DD/MM/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error *ngIf="primerFormGroup.get('fechaInicio')?.hasError('required')">
                    {{'error.requerido' | transloco}}
                  </mat-error>
              </mat-form-field>
              <mat-form-field class="mr-6 margin-campos">
                <mat-label>{{'fechaFin' | transloco}}</mat-label>
                <input required matInput [matDatepicker]="pickerFin" formControlName="fechaFin">
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="pickerFin"></mat-datepicker-toggle>
                <mat-datepicker #pickerFin></mat-datepicker>
                <mat-error *ngIf="primerFormGroup.get('fechaFin')?.hasError('required')">
                  {{'error.requerido' | transloco}}
                </mat-error>
            </mat-form-field>
          </div>
            <!-- Agrega más campos aquí -->
            <div>
                <button mat-button matStepperNext class="button-step">{{'siguiente' | transloco}}</button>
            </div>
        </form>
    </div>
    </mat-step>
    <mat-step [stepControl]="segundoFormGroup">
        <div class="d-flex justify-content-center">
        <form [formGroup]="segundoFormGroup">
            <ng-template matStepLabel>{{'material' | transloco}}</ng-template>
            <div class="mr-3">
            <mat-form-field class="margin-campos" appearance="fill">
              <mat-label>{{'material' | transloco}}</mat-label>
              <mat-chip-grid #chipGrid aria-label="Material Selection">
                <mat-chip-row *ngFor="let material of materiales" (removed)="removeMaterial(material)">
                  {{material}}
                  <button matChipRemove [attr.aria-label]="'remove ' + material">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
              </mat-chip-grid>
              <input placeholder="Elija material..." #materialInput [formControl]="materialCtrl"
                [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="addMaterial($event)"/>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedMaterial($event)">
                <mat-option *ngFor="let material of filteredMateriales | async" [value]="material">
                  {{material}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
            <!-- Agrega más campos aquí -->
            <div>
                <button mat-button matStepperNext class="button-step">{{'siguiente' | transloco}}</button>
                <button mat-button matStepperPrevious class="button-step">{{'anterior' | transloco}}</button>
            </div>
        </form>
    </div>
    </mat-step>
    <mat-step [stepControl]="tercerFormGroup">
        <div class="d-flex justify-content-center" >
        <form [formGroup]="tercerFormGroup">
            <ng-template matStepLabel>{{'dias' | transloco}}</ng-template>
            <div class="mr-3">
              <mat-form-field class="margin-campos" appearance="fill">
                <mat-label>{{'dias2' | transloco}}</mat-label>
                <mat-chip-grid #chipGridDia aria-label="Días Selection">
                  <mat-chip-row *ngFor="let dia of dias" (removed)="removeDia(dia) " >
                    {{dia}}
                    <button matChipRemove [attr.aria-label]="'remove ' + dia">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip-row>
                </mat-chip-grid>
                <input placeholder="Elija Día..." #diaInput [formControl]="diaCtrl"
                  [matChipInputFor]="chipGridDia" [matAutocomplete]="autoDia"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="addDia($event)"/>
                <mat-autocomplete #autoDia="matAutocomplete" (optionSelected)="selectedDia($event)">
                  <mat-option *ngFor="let dia of filteredDias | async" [value]="dia">
                    {{dia}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <!-- Agrega más campos aquí -->
            <div>
              <button mat-button matStepperNext mat-raised-button class="button-step">{{'siguiente' | transloco}}</button>
              <button mat-button matStepperPrevious mat-raised-button class="button-step">{{'anterior' | transloco}}</button>
            </div>
        </form>
    </div>
    </mat-step>
    <mat-step [stepControl]="cuartoFormGroup">
        <div class="d-flex justify-content-center">
        <form [formGroup]="cuartoFormGroup">
            <ng-template matStepLabel>{{'alimentacion' | transloco}}</ng-template>
            <div class="mb-3">
              <mat-checkbox formControlName="planAlimentacion">{{'pregunta' | transloco}}</mat-checkbox>
            </div>
            <div class="mb-3" *ngIf="cuartoFormGroup.get('planAlimentacion')?.value">
              <mat-form-field class="margin-campos">
                  <mat-label>{{'kilocalorias' | transloco}}</mat-label>
                  <input matInput formControlName="kilocaloriasMaximas">
              </mat-form-field>
              <mat-form-field class="margin-campos">
                  <mat-label>{{'tipoalimentacion' | transloco}}</mat-label>
                  <mat-select formControlName="tipoAlimentacion">
                    <mat-option *ngFor="let tipo of tiposAlimentacion" [value]="tipo.codigo">{{tipo.descripcion}}</mat-option>
                  </mat-select>
              </mat-form-field>
            </div>
            <!-- Agrega más campos aquí -->
            <div>
                <button mat-button class="button-step" (click)="onSave()">{{'guardar' | transloco}}</button>
                <button mat-button matStepperPrevious class="button-step">{{'anterior' | transloco}}</button>
            </div>
        </form>
    </div>
    </mat-step>
</mat-horizontal-stepper>
    <!-- Agrega más pasos aquí si es necesario -->

