<div class="border-green">
  <h2 style="text-align: center;" mat-dialog-title>{{'entrenamiento.titleModal' | transloco}}</h2>
  <mat-dialog-content>
    <div class="row">
      <div class="col-md-6">
        <img class="w-75 mx-auto"
             src="{{data.ejercicio.imagen}}"
             alt="Icono representativo de Plan de Entrenamiento" />
          <span class="btn title-custom mt-2">
            {{data.ejercicio.nombreEntrenamiento}}
          </span>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12"><strong>{{'entrenamiento.nombre' | transloco}}:</strong> {{data.ejercicio.nombreEntrenamiento}}</div>
        </div>
        <div class="row">
          <div class="col-md-12"><strong>{{'entrenamiento.duracion' | transloco}}:</strong> {{data.ejercicio.duracion}} </div>
        </div>
        <div class="row">
          <div class="col-md-12"><strong>{{'entrenamiento.fecha' | transloco}}:</strong> {{data.ejercicio.fechaRealizacion | date:'dd/MM/yyyy'}}</div>
        </div>
        <div class="row">
          <div class="col-md-12"><strong>{{'entrenamiento.material' | transloco}}:</strong> {{data.ejercicio.material}}</div>
        </div>
        <div class="row">
          <div class="col-md-12"><strong>{{'entrenamiento.descripcion' | transloco}}:</strong> Este ejercicio físico es uno de los tres realizados en powerlifting (peso muerto, sentadillas, y press de banca), y también se utiliza en el culturismo como un ejercicio para el pecho, (principalmente músculos pectorales) el tríceps y el fascículo anterior del deltoides. El levantador se tumba sobre su espalda en un banco, levantando y bajando la barra directamente por encima del pecho.</div>
        </div>
      </div>

    </div>
    
  </mat-dialog-content>
  <mat-dialog-actions class="justify-content-end">
    <button mat-raised-button color="primary" (click)="onNoClick()"><mat-icon>cancel</mat-icon>{{'entrenamiento.cerrar' | transloco}}</button>
  </mat-dialog-actions>
</div>