<h2 mat-dialog-title>{{'usuarios.header.title' | transloco}}</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <div class="row">
       <div class="col-md-2">
          <mat-form-field class="w-100">
          <mat-label>{{'usuarios.header.id' | transloco}}</mat-label>
          <input matInput readonly="true" formControlName="id">
          </mat-form-field>
        </div>
      <div class="col-md-3">
        <mat-form-field class="w-100">
        <mat-label>{{'usuarios.header.nombre' | transloco}}</mat-label>
        <input matInput formControlName="nombre">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
        <mat-label>{{'usuarios.header.email' | transloco}}</mat-label>
        <input matInput formControlName="email">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <mat-form-field class="w-100">
            <mat-label>{{'usuarios.header.rol' | transloco}}</mat-label>
            <input matInput  formControlName="rol">
            </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="w-100">
          <mat-label>{{'usuarios.header.edad' | transloco}}</mat-label>
          <input matInput type="number" formControlName="edad">
          </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="w-100">
        <mat-label>{{'usuarios.header.altura' | transloco}}</mat-label>
        <input matInput type="number" formControlName="altura">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
          <mat-form-field class="w-100">
          <mat-label>{{'usuarios.header.nivel' | transloco}}</mat-label>
          <input matInput  formControlName="nivel">
          </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="w-100">
        <mat-label>{{'usuarios.header.tiempo' | transloco}}</mat-label>
        <input matInput formControlName="tiempo">
        </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="w-100">
      <mat-label>{{'usuarios.header.objetivo' | transloco}}</mat-label>
      <input matInput formControlName="objetivo">
      </mat-form-field>
    </div>
  </div>
  </form>
 


</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSave()" [disabled]="form.invalid">Guardar</button>
</mat-dialog-actions>
