<div class="d-flex align-items-center justify-content-center" style="height: 40px;">
    <div class="d-flex align-items-center justify-content-center border-bottom w-100 h-100">
        <h1 class="title-custom">
            Detalle del Ejercicio
        </h1>
    </div>
</div>

<div class="container py-4">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-2 g-2">
        <div class="col">
            <div class="card h-100 card-no-hover">
                <button class="btn btn-block d-flex flex-column align-items-center">
                    <img
                        class="w-75 mx-auto"
                        src="https://media.istockphoto.com/id/1028273740/es/foto/hombre-durante-el-ejercicio-de-levantamiento-de-pesas-en-banco.jpg?s=612x612&w=0&k=20&c=_VOFJCdjZD8Lgb19PhAFRnnf8eD12z_tu8OUPzAnjC8="
                        alt="Icono representativo de Plan de Entrenamiento"
                        
                    />
                    <span class="btn title-custom mt-2">
                        Press de banca
                    </span>
                </button>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 p-3 card-no-hover">
                <h2 class="title-custom">Detalle del Entrenamiento</h2>
                <p class="texto-grande"><strong>Nombre:</strong> Press Banca</p>
                <p class="texto-grande"><strong>Descripcion:</strong> Este ejercicio físico es uno de los tres realizados en powerlifting (peso muerto, sentadillas, y press de banca), y también se utiliza en el culturismo como un ejercicio para el pecho, (principalmente músculos pectorales) el tríceps y el fascículo anterior del deltoides. El levantador se tumba sobre su espalda en un banco, levantando y bajando la barra directamente por encima del pecho.</p>
                <p class="texto-grande"><strong>Fecha de entrenamiento:</strong> 25/04/2024</p>
                <p class="texto-grande"><strong>Duracion:</strong> 100 repeticiones</p>
                <p class="texto-grande"><strong>Materiales:</strong> Banco de entrenamiento, Barra y Pesas</p>
            </div>
        </div>
    </div>
</div>