
.margin-form{
    margin-top: 10px;
}

.button-login{
    background-color: #33b082;
    border-radius: 8px;
    color: white;
}

.button-register{
    background-color: #b08233;
    border-radius: 8px;
    color: white;
}

.button-login-pressed {
    background: gainsboro;
}

.form-field {
    margin-bottom: 10px;
}



.image-size {
    width: 800px;
    height: 550px;
    margin-top: 85px;
    margin-left: 0px !important;
    opacity: 1;
    margin-left: auto;
    border: 4px solid #33b082;
}

.card {
    background-color: #ecf5f5 /*rgb(241, 241, 241)*/;
}

.center-card{
    margin-top: 180px;
    margin-right: 300px;
}


.card-no-hover:hover {
    transform: none;
    background-color: #ecf5f5;
}

.button-container{
    margin-top: 5px;
    margin-left: 65px;
    margin-right: 20px;
    justify-content: center;
}

.form-login{
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 20px;
    justify-content: center;
}
