<div class="container py-4">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-2 g-2">
        <div class="col">
            <div class="card  card-no-hover center-card">
                <div class="row">
                    <div id="button-toogle-container" class="button-container">
                        <mat-button-toggle-group  (change)="cambiarFormulario($event.value)" aria-label="Formulario">
                                <mat-button-toggle class="button-login" value="login">{{ 'formulario.iniciarSesion' | transloco }}</mat-button-toggle>
                                <mat-button-toggle class="button-register" value="registro">{{ 'formulario.registrarse' | transloco }}</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                </div>
                <form [formGroup]="loginUsuario" id="login" class="margin-form d-flex flex-column form-login" *ngIf="mostrarLogin">
                    <div class="form-field mb-6">
                        <mat-form-field appearance="fill">
                            <mat-label>{{ 'login.formulario.usuario' | transloco }}</mat-label>
                            <input matInput type="text" formControlName="nombre" required>
                        </mat-form-field>
                    </div>
                
                    <div class="form-field mb-6 ">
                        <mat-form-field appearance="fill">
                            <mat-label>{{ 'login.formulario.contrasena' | transloco }}</mat-label>
                            <input matInput type="password" formControlName="password" required>
                        </mat-form-field>
                    </div>
        
                    <div *ngIf="errorMessage" class="alert alert-danger">
                        {{ errorMessage }}
                    </div>
                
                    <div class="form-field mb-3">
                        <a href="#">{{ 'login.formulario.olvidasteContrasena' | transloco }}</a>
                    </div>
        
                    <div class="form-field mb-3 ml-auto justify-content-end">
                            <button mat-raised-button color="primary"  (click)="login()"><mat-icon>fingerprint</mat-icon>{{ 'login.formulario.botonIniciarSesion' | transloco }}</button>
                    </div>
                    
                </form>
        
                <form [formGroup]="registro" id="registro" class="margin-form d-flex flex-column form-login" *ngIf="mostrarRegistro">
                    <div class="form-field mb-6">
                        <mat-form-field appearance="fill">
                            <mat-label>{{ 'registro.formulario.email' | transloco }}</mat-label>
                            <input matInput type="email" required formControlName="email">
                        </mat-form-field>
                    </div>
                
                    <div class="form-field mb-6">
                        <mat-form-field appearance="fill">
                            <mat-label>{{ 'registro.formulario.usuario' | transloco }}</mat-label>
                            <input matInput type="text" required formControlName="nombre">
                        </mat-form-field>
                    </div>
                
                    <div class="form-field mb-6">
                        <mat-form-field appearance="fill">
                            <mat-label>{{ 'registro.formulario.contrasena' | transloco }}</mat-label>
                            <input matInput type="password" required formControlName="password">
                        </mat-form-field>
                    </div>
                
                    <div class="form-field mb-6">
                        <mat-form-field appearance="fill">
                            <mat-label>{{ 'registro.formulario.confirmarContrasena' | transloco }}</mat-label>
                            <input matInput type="password" required formControlName="password">
                        </mat-form-field>
                    </div>
                
                    <div class="form-field mb-3">
                        <mat-checkbox formControlName="terminos">{{ 'registro.formulario.aceptoTerminos' | transloco }}</mat-checkbox>
                    </div>
                
                    <div class="form-field mb-3 d-flex">
                        <button mat-raised-button color="primary" (click)="registrarse()" class="ml-auto">{{ 'registro.formulario.botonRegistrarse' | transloco }}</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                  <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                  <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://img.freepik.com/fotos-premium/chica-esta-haciendo-yoga-bosque_1090546-14.jpg?w=1060" class="image-size" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://www.consalud.es/estetic/uploads/s1/91/03/57/los-alimentos-de-color-verde-tienen-un-papel-importante-dentro-de-una-alimentacion-saludable.jpeg" class="image-size" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://img.freepik.com/fotos-premium/deportista-haciendo-flexiones-naturaleza-habitos-saludables-naturaleza-fitness_232070-22058.jpg" class="image-size" alt="...">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </a>
              </div>
        </div>
    </div>
</div>