<div class="d-flex align-items-center justify-content-center title-margin" style="height: 40px;">
    <div class="d-flex align-items-center justify-content-center border-bottom w-100 h-100">
        <h1 class="title-custom">
            {{'entrenamiento.title' | transloco}}
        </h1>
    </div>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

<mat-table [dataSource]="dataSource" matSort>

    <!-- Nombre Plato Column -->
    <ng-container matColumnDef="nombreEntrenamiento">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'entrenamiento.nombre' | transloco}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.nombreEntrenamiento}}</mat-cell>
    </ng-container>

    <!-- Kilocalorias Column -->
    <ng-container matColumnDef="ejercicioId">
        <mat-header-cell hidden *matHeaderCellDef mat-sort-header>ejercicioId</mat-header-cell>
        <mat-cell hidden *matCellDef="let element">{{element.ejercicioId}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="imagen">
        <mat-header-cell hidden *matHeaderCellDef mat-sort-header>imagen</mat-header-cell>
        <mat-cell hidden *matCellDef="let element">{{element.imagen}}</mat-cell>
    </ng-container>

    <!-- Tipo Alimentacion Column -->
    <ng-container matColumnDef="fechaRealizacion">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'entrenamiento.fecha' | transloco}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.fechaRealizacion | date:'dd/MM/yyyy'}}</mat-cell>
    </ng-container>

    <!-- Fecha Column -->
    <ng-container matColumnDef="duracion">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'entrenamiento.duracion' | transloco}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.duracion}}</mat-cell>
    </ng-container>

    <!-- Horario Comida Column -->
    <ng-container matColumnDef="material">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'entrenamiento.material' | transloco}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.material}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="estado">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'entrenamiento.estado' | transloco}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.estado}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef> {{'entrenamiento.acciones' | transloco}} </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="verEjercicio(element)" aria-label="Ver ejercicio">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="cambiarEstado(element)" aria-label="Estado Ejercicio">
            <mat-icon>assignment_turned_in</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>