<!-- Botón para mostrar/ocultar el campo de búsqueda -->
<button mat-raised-button color="primary" class="margin-standard" (click)="showSearch = !showSearch">{{ 'usuarios.btn.ocultar' | transloco }}</button>

<!-- Campo de búsqueda -->
<div *ngIf="showSearch" class="margin-standard">
    <fieldset>
      <legend>{{'general.busqueda' | transloco}}</legend>
      <mat-form-field>
        <mat-label>{{'usuarios.buscar' | transloco}}</mat-label>
        <input matInput [(ngModel)]="searchValue">
        <button mat-button matSuffix aria-label="Buscar" (click)="applyFilter(searchValue!)">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </fieldset>
</div>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
<mat-table [dataSource]="usuarios" matSort>

    <!-- ID del ejercicio Column -->
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{'usuarios.header.id' | transloco}} </mat-header-cell>
        <mat-cell *matCellDef="let usuario"> {{usuario.id}} </mat-cell>
    </ng-container>

    <!-- Nombre del ejercicio Column -->
    <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{'usuarios.header.nombre' | transloco}}</mat-header-cell>
        <mat-cell *matCellDef="let usuario"> {{usuario.nombre}} </mat-cell>
    </ng-container>

    <!-- Objetivo del ejercicio Column -->
    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{'usuarios.header.email' | transloco}} </mat-header-cell>
        <mat-cell *matCellDef="let usuario"> {{usuario.email}} </mat-cell>
    </ng-container>

    <!-- Nivel del ejercicio Column -->
    <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{'usuarios.header.rol' | transloco}} </mat-header-cell>
        <mat-cell *matCellDef="let usuario"> {{usuario.role}} </mat-cell>
    </ng-container>

    <!-- Duración del ejercicio Column -->
    <ng-container matColumnDef="edad">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{'usuarios.header.edad' | transloco}} </mat-header-cell>
        <mat-cell *matCellDef="let usuario"> {{usuario.edad}} </mat-cell>
    </ng-container>

    <!-- Grupo muscular del ejercicio Column -->
    <ng-container matColumnDef="altura">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{'usuarios.header.altura' | transloco}} </mat-header-cell>
        <mat-cell *matCellDef="let usuario"> {{usuario.altura}} </mat-cell>
    </ng-container>

    <!-- Deporte del ejercicio Column -->
    <ng-container matColumnDef="peso">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{'usuarios.header.peso' | transloco}} </mat-header-cell>
        <mat-cell *matCellDef="let usuario"> {{usuario.peso}} </mat-cell>
    </ng-container>

    <!-- Material del ejercicio Column -->
    <ng-container matColumnDef="nivelPersonalizado">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{'usuarios.header.nivel' | transloco}} </mat-header-cell>
        <mat-cell *matCellDef="let usuario"> {{usuario.nivelPersonalizado}} </mat-cell>
    </ng-container>

    <!-- Material del ejercicio Column -->
    <ng-container matColumnDef="tiempoEntrenamiento">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{'usuarios.header.tiempo' | transloco}} </mat-header-cell>
        <mat-cell *matCellDef="let usuario"> {{usuario.tiempoEntrenamiento}} </mat-cell>
    </ng-container>

    <!-- Material del ejercicio Column -->
    <ng-container matColumnDef="objetivoEntrenamiento">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{'usuarios.header.objetivo' | transloco}} </mat-header-cell>
        <mat-cell *matCellDef="let usuario"> {{usuario.objetivoEntrenamiento}} </mat-cell>
    </ng-container>

  <!-- Acciones Column -->
  <ng-container matColumnDef="acciones">
    <mat-header-cell *matHeaderCellDef mat-sort-header> {{'general.acciones' | transloco}} 
    </mat-header-cell>
    <mat-cell *matCellDef="let usuario"> 
      <button mat-icon-button color="primary" aria-label="Editar ejercicio" (click)="openEditDialog(usuario)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" aria-label="Borrar ejercicio" (click)="confirmarBorrado(usuario)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>